:root {
  --h2-font-color: hsl(14, 45%, 36%);
  --prep-time-color: hsl(332, 51%, 32%);
  --prep-bg-color: hsl(332, 51%, 97%);
  --white: hsl(0, 0%, 100%);
  --main-bg: hsl(330, 100%, 98%);
  --body-bg: hsl(30, 54%, 90%);
  --hr-line: hsl(30, 18%, 87%);
  --main-font-color: hsl(30, 10%, 34%);
  --h1-font-color: hsl(24, 5%, 18%);
}
